/* ==============================
   공통 스타일
============================== */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* ==============================
   메인 Swiper (동등하게)
============================== */
.mainSwiper {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.mainSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 이미지 영역 벗어나면 숨김 */
}

.mainSwiper .swiper-slide img {
  width: 100%;       /* 슬라이드 폭에 맞춤 */
  height: auto;      /* 슬라이드 높이에 맞춤 */
  object-fit: cover; /* 부모 영역에 맞춰 키우면서 비율 유지 */
  display: block;
  margin-bottom: 0%;
}

/* ==============================
   썸네일 Swiper
============================== */
.thumbSwiper {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  opacity: 0.4;
}

.thumbSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbSwiper .swiper-slide img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* ==============================
   navigation 버튼 (메인 Swiper 전용)
============================== */
.mainSwiper .swiper-button-next,
.mainSwiper .swiper-button-prev {
  color: #fff;
  display: none;
}
