/* Reset 및 기본 body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */
  font-family: SUITE-Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;
}

/* 중앙 콘텐츠 */
.container {
  width: 100%;        /* 화면이 작으면 꽉 차게 */
  max-width: 460px;   /* 화면 크면 최대 460px */
  margin: 0 auto;     /* 가로 중앙 정렬 */
  position: relative;
  background-color: #ffffff; /* 카드 느낌 */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 원하면 그림자 */
}

/* Full-width 배경 섹션 */
.full-width-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: transparent; /* 사진 사이 간격은 남지만 색은 사라짐 */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30%;
}

/* toast */
.toast {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}